*{ /*reset da pagina*/
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: auto;
}

.LouerLab{
    width: 100%;
    height: auto; 
    margin: auto;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;

}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
}

.quemSomos{
    width:100%;
    height: 600px;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

#textPrincipal{
    font-size: 55px;
    color: rgba(255, 255, 255, .9);
    text-align: right;
    padding: 50px 0px 30px 750px;
    position:absolute;
    z-index: 5;
    float: right;
}

.textoQuemSomos{
    font-size: 30px;
    color: rgba(255, 255, 255, .9);
    position:absolute;
    z-index: 5;
    padding: 150px 50px;
}

.areaTexto{
    position: relative;
    float: right;
    width: 40%;
    height: auto;
    text-align: center;
    padding-right: 45px;
}

.historia{
    width: 100%;
    height: auto;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 70px;
    box-sizing: border-box;
    color: #000;
}

.titHistoria{
    font-size: 70px;
}

.textHistoria{
    font-size: 25px;
}

.sessaoProposito{
    width: 100%;
    height: 617px;
    background-image: url(../assets/fundoMissaoAzul.jpg);
    background-size: cover;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.textoMaiorProposito{
    font-size: 45px;
    color: white;
    padding: 10px 0 10px 0;
}

.textoMenorProposito{
    font-size: 25px;
    color: white; 
}

.espacoIcone{
    width: 50px;
    height: 50px;
    /* background-color: white; */
    padding: 10px 0 30px 0;
}

#areaMapas{
    width: 100%;
    height: 308.5px;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
}

.textoMaps{
    width: 50%;
    height: 308.5px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
}

.titMaps{
    font-size: 40px;
    padding: 30px;
}

.textMaps{
    font-size: 30px;
}

.mapa{
    width: 50%;
    height: 308.5px;
    box-sizing: border-box;
}

.parceiros{
    width: 100%;
    height: 308.5px;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
}

.imgParceiros{
    width: 50%;
    height: 308.5px;
    background-image: url(../assets/imgParceirosSemEdicao.jpg);
    background-size: cover;
}

.areaParceiros{
    width: 50%;
    height: 308.5px;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    float: left;
}

.textParceiros{
    font-size: 40px;
    padding-bottom: 25px;
}

.custom-btn {
    width: 250px;
    height: 40px;
    color: #fff;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-15 {
    background: #63636A;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #06A1DA;
    border-radius: 50px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

.nossosParceiros{
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
}

#areaTituloparceiros{
    width: 100%;
    /* height: 80px; */
    background-color: #06A1DA;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#textoBranco{
    font-size: 50px;
    color: #ffffff;
}

.areaIcones{
    width: 100%;
    height: auto;
}

.icones{
    width: 70%;
    height: 120px;
    padding: 20px 0px 20px 201.6px ;
    z-index: 5;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
}

#logoMarca{
    width: 13%;
    height: 120px;
}

#logoMarca:hover{
    transform: scale(1.2);
    /* transition: 1s; */
}


footer{
    width: 100%;
    height: 250px;
    background-color: #63636A;
}

@media screen and (max-width: 480px){
    .quemSomos{
        width:100%;
        height: fit-content;
    }
    #textPrincipal{
        font-size: 25px;
        padding: 10px 0 0 230px;    
    }
    
    .textoQuemSomos{
        font-size: 14px;
        padding: 50px 10px 0 70px;
    }

    .historia{
        padding: 35px;
        box-sizing: border-box;
    }

    .titHistoria{
        font-size: 35px;
    }
    
    .textHistoria{
        font-size: 15px;
    }

    .textoMaiorProposito{
        font-size: 25px;
        width: 80%;

    }
    
    .textoMenorProposito{
        font-size: 15px;
        width: 80%;
    }
    
    .espacoIcone{
        width: 25px;
        height: 25px;
        padding: 5px 0 15px 0;
    }
    
    .sessaoProposito{
        height: auto;        
    }

    #areaMapas{
        width: 100%;
        height: 200px;
        flex-direction: column;
        box-sizing: border-box;
        margin: auto;
        padding-bottom: 251px;
    }
    
    .textoMaps{
        width: 90%;
        padding: 5px;
    }
    
    .titMaps{
        font-size: 25px;
        padding: 5px 0 0 10px;
    }
    
    .textMaps{
        font-size: 15px;
    }
    
    .mapa{
        width: 90%;
        height: 150px;
        margin: auto;
    }
    
    .parceiros{
        margin-top: 15px;
        height:500px;
        flex-direction: column;
        justify-content: space-around;
        background-color:brown;
    }
    
    .imgParceiros{
        margin: auto;
        height: 200px;
        padding: 500px 0 0 0;
    }
    
    .areaParceiros{
        width: 50%;
        height: 308.5px;
        text-align: center;
        align-items: center;
        padding-top: 100px;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        float: left;
    }
    
    .textParceiros{
        font-size: 40px;
        padding-bottom: 25px;
    }
}